{% extends "base2.twig" %}
{% block title %}Utilisateurs{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content" style="margin-top: 0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title mt-0">Utilisateurs</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="">
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Societe
                                            </th>
                                            <th>
                                                Siret
                                            </th>
                                            <th>
                                                Adr Fact
                                            </th>
                                            <th>
                                                Adr Livr
                                            </th>
                                            <th>
                                                Iban
                                            </th>
                                            <th>
                                                Bic
                                            </th>
                                            <th>
                                                Etat
                                            </th>
                                            <th>
                                                Tel
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in users %}
                                        <tr>
                                            <td>
                                                {{ row.getId }}
                                            </td>
                                            <td class="text-primary">
                                                <a href="mailto:{{ row.getEmail }}">{{ row.getEmail }}</a>
                                            </td>
                                            <td>
                                                {{ row.getType.getNom }}
                                            </td>
                                            <td class="text-primary">
                                                {{ row.getSociete }}
                                            </td>
                                            <td>
                                                {{ row.getSiretDuns }}
                                            </td>
                                            <td>
                                                {{ row.getAdresseFacturation.getAdresse~row.getAdresseFacturation.getCodePostal~" "~row.getAdresseFacturation.getVille }}
                                            </td>
                                            <td>
                                                {{ row.getAdresseLivraison.getAdresse~row.getAdresseLivraison.getCodePostal~" "~row.getAdresseLivraison.getVille }}
                                            </td>
                                            <td>
                                                {{ row.getIban }}
                                            </td>
                                            <td>
                                                {{ row.getBic }}
                                            </td>
                                            <td>
                                                {{ row.getEtat }}
                                            </td>
                                            <td class="text-primary">
                                                <a href="tel:+33{{ row.getTel[2:] }}">{{ row.getTel }}</a>
                                            </td>
                                            <td class="td-actions text-right">
                                                {% if(row.getEtat==0) %}
                                                    <a href="/admin/user/check?id={{ row.getId }}" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Valider"><i class="fas fa-lock-open"></i>
                                                        <div class="ripple-container"></div></a>
                                                {% else %}
                                                    <a href="/admin/user/uncheck?id={{ row.getId }}" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Verrouiller">
                                                        <i class="fas fa-lock"></i>
                                                        <div class="ripple-container"></div></a>
                                                {% endif %}
                                                <a href="/admin/user/edit?id={{ row.getId }}" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Editer">
                                                    <i class="material-icons">edit</i>
                                                    <div class="ripple-container"></div></a>
                                                <a href="/admin/user/remove?id={{ row.getId }}" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Supprimer">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector("#userlink").className += "active";
    </script>
{% endblock %}