{% extends "base.twig" %}

{% block title %}{{ lang.Moncompte }}{% endblock %}
{% block description %} {% endblock %}
{% block keywords %} {% endblock %}
{% block body %}
    <main role="main" class="mon-compte">
        <div class=" container-100 margin-bottom-25">
            <h1 class="align-center">Espace client</h1>
            <div class="wrapper">
                <section class="client-side">
                    <div class="section-title orange">
                        <h2 class="padding-10 margin-0"><span class="kingstock-icon icon-user"></span>Mon profil</h2>
                    </div>
                    <div class="client-side-user-infos">
                        <div class="client-side-name">Société : {{ user.getSociete }}</div>
                        <div class="client-side-first-name">Siret : {{ user.getSiretDuns }}</div>
                        <div class="client-side-mail">Email : {{ user.getEmail }}</div>
                        <div class="client-side-tel">N° Tel : {{ user.getTel }}</div>
                        <div class="client-side-address">Adresse de livraison : {{ user.getAdresseLivraison.getAdresse~user.getAdresseLivraison.getCodePostal~" "~user.getAdresseLivraison.getVille }}</div>
                        <div class="client-side-address">Adresse de Facturation : {{ user.getAdresseFacturation.getAdresse~user.getAdresseFacturation.getCodePostal~" "~user.getAdresseFacturation.getVille }}</div>
                    </div>
                </section>


                <section class="infos-side">
                    <div class="container-text-product">
                        <div class="tab-description-product">
                            <button class="tablinks margin-bottom-5" onclick="openTab(event, 'Description')">Mes enchères en cours
                            </button>
                            <button class="tablinks margin-bottom-5 margin-left-5" onclick="openTab(event, 'Details')">
                                Mes Commandes
                            </button>
                            <button id="defaultTab" class="tablinks margin-bottom-5 margin-left-5" onclick="openTab(event, 'Autre')">Mon
                                panier
                            </button>
                        </div>
                        <div class="tabcontent" id="Description">

                            <section>
                                <h1 class="align-center">Enchères en cours</h1>
                                {% for row in enchereencour %}
                                <div class="wrapper_cat_product">
                                    <div class="container-cat-img"><img class="img-cat"
                                                                        src="{{ base_url(row.getLot.produits[0].getPhotos[0]) }}"
                                                                        alt="test cat"/></div>
                                    <div class="container-cat-txt">
                                        <h2>{{ row.getLot.getNom }}</h2>
                                        <div class="container-txt-desc">{{ row.getLot.produits[0].getDescription|raw }}</div>
                                        <div class="wrap-price-time-cat">
                                            <p><span class="price">{{ row.getPrice }} €</span></p>
                                            <div class="v-separator-price-cat"></div>
                                            <p class="time"  finish="{{ row.getDatefin }}">{{ row.getTime }}</p>
                                        </div>
                                    </div>
                                    <div class="container-cat-button">
                                        <a href="{{base_url("enchere/desc?id=") ~ row.getId}}">
                                            <div class="button light-blue button-cat margin-bottom-10">informations</div>
                                        </a>
                                        <a href="{{ base_url("/enchere?id=")~row.getid}}">
                                            <div class="button button-cat">enchérir</div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}


                            </section>


                        </div>
                        <div class="tabcontent" id="Details">
                            <section>
                                <h1 class="align-center">Mes Commandes</h1>
                                {% for row in commande %}
                                <div class="wrapper-mes-commandes">
                                    <div class="container-mes-commandes">
                                        <h2>Commande n°{{ row.getId }}</h2>
                                        {% if  row.getType ==2 %}
                                            <h3>Enchère</h3>
                                        {% else %}
                                            <h3>Vente à la Bougie</h3>
                                        {% endif %}
                                    </div>
                                    <div class="container-mes-commandes-button">
                                        <a href="{{ base_url("/account/facture?id=")~row.getId }}">
                                            <div class="button light-blue button-cat">Impression facture</div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </section>
                        </div>
                        <div class="tabcontent" id="Autre">
                            <section>
                                <h1 class="align-center">Mon panier</h1>
                                {% set total = 0 %}
                                {% for row in ventes %}
                                    {% set total = total + row.Prix*session.arraypanierqte[loop.index0] %}
                                    <div class="wrapper_cat_product">
                                        <div class="container-cat-img"><img class="img-cat"
                                                                            src="{{ base_url(row.getLot.produits[0].getPhotos[0]) }}"
                                                                            alt="test cat"/></div>
                                        <div class="container-cat-txt">
                                            <a href="{{base_url("vente/desc?id=") ~ row.getId}}"><h2>{{ row.getLot.getNom }}</h2></a>
                                            <div class="h_separator_cat margin-bottom-5"></div>
                                            <div class="container-txt-desc">{{ row.getLot.produits[0].getDescription|raw }}</div>
                                            <div class="wrap-price-time-cat">
                                                <p><span class="price">{{ row.getPrix }} €</span></p>
                                                <div class="v-separator-price-cat"></div>
                                                <p class="time"  finish="{{ row.getDatefin }}">{{ row.getTime }}</p>
                                            </div>
                                        </div>
                                        <div class="container-cat-button">
                                            <p style="text-align: center">Quantité : {{ session.arraypanierqte[loop.index0] }}</p>
                                            <a href="/vente/remove?id={{ row.getId }}">
                                                <div class="button light-red button-cat">Supprimer</div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if total != 0 %}
                                    <p>Total : {{ total }} €</p>
                                    <a href="/vente/buy">
                                        <div class="button light-blue button-cat margin-bottom-10">Acheter</div>
                                    </a>
                                {% endif %}

                            </section>
                        </div>
                </section>
            </div>

        </div>
        <script>
            function CountDownTimer(dt, time)
            {
                var end = new Date(dt);

                var _second = 1000;
                var _minute = _second * 60;
                var _hour = _minute * 60;
                var _day = _hour * 24;
                var timer;

                function showRemaining() {
                    var now = new Date();
                    var distance = end - now;
                    if (distance < 0) {

                        clearInterval(timer);
                        time.innerHTML = '{{ lang.Fin }}';

                        return;
                    }
                    var days = Math.floor(distance / _day);
                    var hours = Math.floor((distance % _day) / _hour);
                    var minutes = Math.floor((distance % _hour) / _minute);
                    var seconds = Math.floor((distance % _minute) / _second);
                    time.innerHTML="";
                    if (days !== 0) {
                        time.innerHTML += days + 'j : ';
                    }

                    time.innerHTML += hours + 'h : ';
                    time.innerHTML += minutes + 'm : ';
                    time.innerHTML += seconds + 's';
                }

                timer = setInterval(showRemaining, 1000);
            }

            window.onload = function () {
                var arraytimer = document.querySelectorAll('.time');

                arraytimer.forEach(function(element) {
                    CountDownTimer(element.getAttribute('finish'), element);
                });
            };
            // Onglet des descriptions produits

            if (document.querySelector(".tab-description-product")) {
                document.querySelector("#defaultTab").click();
            }

            function openTab(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";


            }

        </script>
    </main>
{% endblock %}
